p {
  text-align: center;
  font-size: 20px;
}

.line {
  height: 1px;
  background: black;
  margin: 10px auto;
}

.body {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.teste {
  margin-right: 15%;
}
