button {
  height:20px;
  margin: 20px;
}

.line {
  height: 1px;
  background: black;
  margin: 10px auto;
}

.item {
  width: 150px;
  height: 200px;
}

.titleImage {
  display: flex;
  flex-direction: column;
}

.buttonResize {
  display: flex;
  flex-direction: row;
}

.lineItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}