.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  height: 80px;
  width: 95%;
  bottom: 0;
  background-color: #4D1470;
}

.logo {
  width: 130px;
  height: 80px;
  align-self: center;
}

.text {
  color: white;
  align-self: center;
}

.option {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.menu {
  width: 50px;
  height: 40px;
}

.optionText {
  color: white;
  margin-top: 5px;
}