.footer {
  background-color: #4D1470;
  margin: 5px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.menu {
  width: 60px;
  height: 50px;
  align-self: center;
  position: fixed;
  right: 30px;
}

.logo {
  width: 130px;
  height: 80px;
  align-self: center;
  position: fixed;
  left: 20px;
}

.text {
  color: white;
  align-self: center;
}

.text2 {
  color: white;
  align-self: center;
}